<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<head>
  <link rel="icon" href="./favicon.ico"/>
  <title>聊天室</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/bootstrap/css/reset.css}"/>
  <link rel="stylesheet" th:href="@{/bootstrap/css/chat.css}"/>
  <!--<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script th:src="@{html5/html5shiv.min.js}"></script>
  <script th:src="@{html5/respond.min.js}"></script>
  <![endif]-->

  <script th:src="@{/sockjs.min.js}"></script>
  <script th:src="@{/stomp.min.js}"></script>
  <script th:src="@{/jquery.js}"></script>

  <style>
    .myself {
      text-align: right;
    }

    .red {
      color: red;
    }

    .gray {
      color: #ddd;
    }

    li {
      cursor: pointer;
    }
  </style>

</head>
<body>
<div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLabel">欢迎来到嗨皮聊天室 | WOLFBE.COM</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="menuForm">
          <input type="hidden" name="id" id="id"/>
          <div class="form-group">
            <label for="nick" class="col-sm-2 control-label">昵称:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control validate[required]" name="nick" id="nick"/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="loginBtn">登录</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="tipModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--<div class="modal-header">-->
      <!--<h4 class="modal-title">提示信息</h4>-->
      <!--</div>-->
      <div class="modal-body" id="tipMsg" style="align:center;"></div>
    </div>
  </div>
</div>

<div class="container-fluid" id="chatWin" style="width:100%;">
  <div class="row top">

    <div class="col-sm-12" id="top">
      <div style="color:#fff;">
        在线人数：<span id="userCount" style="color:#fff;">0</span> 人
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2" style="padding: 0">
      <ul class="list-group ul-top" id="imUserList" style="overflow: auto;margin: 0">
        <!--<li class="list-group-item">123</li>-->
      </ul>
    </div>
    <div class="col-sm-10" style="padding: 0">
      <div id="content" style="border: 1px solid #ddd">

      </div>
    </div>
  </div>
  <div class="row" id="opt" style="height:40px;">
    <div class="col-xs-2" style="padding:0;height:40px;line-height:40px;text-align:center;">
      <button id="faceBtn" style="height:40px;width:100%;outline:none;line-height:40px;">表情</button>
    </div>
    <div class="col-xs-8" style="padding:0;height:40px;line-heght:40px;">
      <input type="text" id="msg" style="margin:0;width:100%;height:40px;outline:none;"/>
    </div>
    <div class="col-xs-2" style="padding:0;">
      <button onclick="sendMessage()" style="height:40px;width:100%;outline:none;line-height:40px;">send</button>
    </div>
  </div>
</div>

<script th:src="@{/bootstrap/js/jquery-1.12.3.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/jquery.qqFace.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/chat.js}"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  //链接endpoint名称为 "/endpointChat" 的endpoint。
  var imUser = [[${imUser}]];
  var socket = new SockJS('/endpointWisely'); //链接SockJS 的endpoint 名称为"/endpointWisely"
  stompClient = Stomp.over(socket);//使用stomp子协议的WebSocket 客户端
  stompClient.connect({}, function (frame) {//链接Web Socket的服务端。

      stompClient.subscribe('/topic/getResponse', function (respnose) { //订阅/topic/getResponse 目标发送的消息。这个是在控制器的@SendTo中定义的。
        var chatMesssage = JSON.parse(respnose.body);

        if (chatMesssage.fromUserName == imUser.userName) {
          chatMesssage.clazz = "myself";
        } else {
          chatMesssage.clazz = "";
        }

        showResponse(chatMesssage);
      });

      stompClient.subscribe('/topic/online', function (respnose) { //订阅/topic/getResponse 目标发送的消息。这个是在控制器的@SendTo中定义的。
        var onlineInfoBean = JSON.parse(respnose.body);
        $("#userCount").html(onlineInfoBean.userCount);

        if (onlineInfoBean.imUserList) {
          var imUserList = onlineInfoBean.imUserList;
          var onlineDomEle = "";
          var domEle = "";
          for (var i = 0; i < imUserList.length; i++) {
            if (imUserList[i].userName != imUser.userName) {
              if (imUserList[i].online == "1") {
                onlineDomEle += "<li class='list-group-item'>" + imUserList[i].userName + "</li>";
              } else {
                domEle += "<li class='list-group-item gray'>" + imUserList[i].userName + "</li>";
              }
            }
          }

          var itselfDomEle = "<li class='list-group-item red'>" + imUser.userName + "</li>";

          // 自己 + 在线 + 不在线
          $("#imUserList").html(itselfDomEle + onlineDomEle + domEle);
        }
      });

      brokerOnline();
    }, function (error) {
      // 连接失败时（服务器响应 ERROR 帧）的回调方法
      document.getElementById("state-info").innerHTML = "连接失败";
      console.log('连接失败【' + error + '】');
    }
  );

  function brokerOnline() {
    var URL = "/brokerOnline";
    $.post(URL, {}, function(jsonData) {
      if (!jsonData.flag) {
        alert("广播在线信息失败，请与管理员联系！");
      }
    }, "json");
  }

  function sendMessage() {
    var msg = $("#msg").val();

    if (msg == "") {
      return;
    }
    var URL = "/groupChat";
    var formData = {
      "type": "1",
      "fromUserName": imUser.userName,
      "fromNick": imUser.nick,
      "msg": msg
    };
    $.post(URL, formData, function(jsonData) {
      if (!jsonData.flag) {
        alert("发送失败，请与管理员联系！");
      }
    }, "json");
  }

  function showResponse(chatMesssage) {
    if (!(chatMesssage.msg != null && chatMesssage != "")) {
      return;
    }
    var html = "";
    html += "<div class='" + chatMesssage.clazz + "'>";
    html += " <div class='title'>"
    html += chatMesssage.fromNick + "&nbsp;" + new Date().format("yyyy-MM-dd HH:mm:ss");
    html += " </div>";
    html += " <div class='item'>" + replace_em(chatMesssage.msg) + "</div>";
    html += "</div>";

    $("#msg").val("");
    $("#content").append(html);
  }

  function replace_em(str) {
    str = str.replace(/\</g, '&lt;');
    str = str.replace(/\>/g, '&gt;');
    str = str.replace(/\n/g, '<br/>');
    str = str.replace(/\[em_([0-9]*)\]/g, '<img src="arclist/$1.gif" border="0" />');
    return str;
  }


  /*]]>*/
</script>
<script th:inline="javascript">
  /*<![CDATA[*/
  window.onkeyup = function (ev) {
    var key = ev.keyCode || ev.which;
    if (key == 13) { //按下Escape
      sendMessage();
    }
  }
  Date.prototype.format = function (format) {
    var o = {
      "M+": this.getMonth() + 1, //month
      "d+": this.getDate(), //day
      "H+": this.getHours(), //hour
      "m+": this.getMinutes(), //minute
      "s+": this.getSeconds(), //second
      "q+": Math.floor((this.getMonth() + 3) / 3), //quarter
      "S": this.getMilliseconds() //millisecond
    }

    if (/(y+)/.test(format)) {
      format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    }

    for (var k in o) {
      if (new RegExp("(" + k + ")").test(format)) {
        format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
      }
    }
    return format;
  }
  /*]]>*/
</script>
</body>
</html>