<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<head>
  <link rel="icon" href="/favicon.ico"/>
  <title>聊天室</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/bootstrap/css/reset.css}"/>
  <link rel="stylesheet" th:href="@{/bootstrap/css/chat.css}"/>
  <!--<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script th:src="@{html5/html5shiv.min.js}"></script>
  <script th:src="@{html5/respond.min.js}"></script>
  <![endif]-->

  <script th:src="@{/sockjs.min.js}"></script>
  <script th:src="@{/stomp.min.js}"></script>
  <script th:src="@{/jquery.js}"></script>

  <style>
    .myself {
      text-align: right;
    }

    .red {
      color: red;
    }

    .gray {
      color: #ddd;
    }

    li {
      cursor: pointer;
    }

    li:hover {
      background-color: #428bca;
    }

    .more-info {
      position: fixed;
      top: 50px;
      left: 50%;
      font-size: 13px;
      cursor: pointer;
      z-index: 99999;
    }

    .load:hover {
      color: #428bca;
    }

    .unload {
      color: #ddd;
      display: none;
    }

    .no-read {
      line-height: 39px;
      vertical-align: center;
      position: absolute;
      top: 0px;
      right: 15px;
      color: red;
    }
  </style>

</head>
<body>
<div class="more-info">
  <div class="load" onclick="loadMoreChatMessage()">
    查看更多信息
  </div>
  <div class="unload" onclick="loadMoreChatMessage()">
    没有更多信息
  </div>
  <input id="pn" type="hidden" value="0"/>
  <input id="pageSize" type="hidden" value="15"/>
</div>

<div class="container-fluid" id="chatWin" style="width:100%;">
  <div class="row top" style="background-color: #6cb4f1;">
    <div class="col-sm-12" id="top">
      <div style="color:#fff;">
        在线人数：<span id="userCount" style="color:#fff;">0</span> 人
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2" style="padding: 0">
      <ul class="list-group ul-top" id="imUserList" style="overflow: auto;margin: 0">
        <!--<li class="list-group-item">123</li>-->
      </ul>
    </div>
    <div class="col-sm-10" style="padding: 0">
      <div id="content" style="border: 1px solid #ddd">

      </div>
    </div>
  </div>
  <div class="row" id="opt" style="height:40px;">
    <div class="col-xs-2" style="padding:0;height:40px;line-height:40px;text-align:center;">
      <button id="faceBtn" style="height:40px;width:100%;outline:none;line-height:40px;">表情</button>
    </div>
    <div class="col-xs-8" style="padding:0;height:40px;line-heght:40px;">
      <input type="text" id="msg" style="margin:0;width:100%;height:40px;outline:none;"/>
    </div>
    <div class="col-xs-2" style="padding:0;">
      <button onclick="sendMessage()" style="height:40px;width:100%;outline:none;line-height:40px;">发送</button>
    </div>
  </div>
</div>

<script th:src="@{/bootstrap/js/jquery-1.12.3.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/jquery.qqFace.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/chat.js}"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  $(document).on("click", "li", function () {
    var userName = $(this).attr("data-userName");
    if (userName != imUser.userName) {
      var URL = "/im/chatSingleRoom"
        + "?toUserName=" + userName;
      // 默认打开就为已读
      $(this).find(".no-read").html("");
      window.open(URL);
    }
  });
  /*]]>*/
</script>
<script th:inline="javascript">
  /*<![CDATA[*/
  //链接endpoint名称为 "/endpointChat" 的endpoint。
  var imUser = [[${imUser}]];
  jQuery(function () {
    var socket = new SockJS('/endpointWisely'); //链接SockJS 的endpoint 名称为"/endpointWisely"
    stompClient = Stomp.over(socket);//使用stomp子协议的WebSocket 客户端
    stompClient.connect({}, function (frame) {//链接Web Socket的服务端。

        stompClient.subscribe('/topic/getResponse', function (respnose) { //订阅/topic/getResponse 目标发送的消息。这个是在控制器的@SendTo中定义的。
          var chatMesssage = JSON.parse(respnose.body);

          showResponse(chatMesssage);
        });

        stompClient.subscribe('/user/queue/roomRead', function (respnose) { //订阅/topic/getResponse 目标发送的消息。这个是在控制器的@SendTo中定义的。
          var imUser = JSON.parse(respnose.body);

          if (imUser.noReadCount > 0) {
            $("." + imUser.userName + " .no-read").html(imUser.noReadCount);
          } else {
            $("." + imUser.userName + " .no-read").html("");
          }
        });

        stompClient.subscribe('/topic/online', function (respnose) { //订阅/topic/getResponse 目标发送的消息。这个是在控制器的@SendTo中定义的。
          var onlineInfoBean = JSON.parse(respnose.body);
          $("#userCount").html(onlineInfoBean.userCount);

          if (onlineInfoBean.imUserList) {
            var imUserList = onlineInfoBean.imUserList;
            var onlineDomEle = "";
            var domEle = "";
            for (var i = 0; i < imUserList.length; i++) {
              if (imUserList[i].userName != imUser.userName) {
                var noReadCount = (imUserList[i].noReadCount > 0) ? imUserList[i].noReadCount : "";
                if (imUserList[i].online == "1") {
                  onlineDomEle += "<li class='list-group-item " + imUserList[i].userName
                    + "' data-userName='" + imUserList[i].userName + "'>"
                    + imUserList[i].nick + "<span class='no-read'>" + noReadCount + "</span></li>";
                } else {
                  domEle += "<li class='list-group-item gray " + imUserList[i].userName
                    + "' data-userName='" + imUserList[i].userName + "'>"
                    + imUserList[i].nick + "<span class='no-read'>" + noReadCount + "</span></li>";
                }
              }
            }

            var itselfDomEle = "<li class='list-group-item red " + imUser.userName + "' data-userName='" + imUser.userName + "'>"
              + imUser.nick + "</li>";

            // 自己 + 在线 + 不在线
            $("#imUserList").html(itselfDomEle + onlineDomEle + domEle);
          }
        });

        brokerOnline();
      }, function (error) {
        // 连接失败时（服务器响应 ERROR 帧）的回调方法
        document.getElementById("state-info").innerHTML = "连接失败";
        console.log('连接失败【' + error + '】');
      }
    );

    // 5s若网络抖动则在检测一次
    setTimeout(brokerOnline, 5000);
    // 加载历史聊天记录
    listChatMessage();
  });

  var brokerOnlineFlag = false;

  function brokerOnline() {
    if (!brokerOnlineFlag) {
      var URL = "/im/brokerOnline";
      $.post(URL, {}, function (jsonData) {
        if (jsonData.flag) {
          brokerOnlineFlag = true;
        } else {
          alert("广播在线信息失败，请与管理员联系！");
        }
      }, "json");
    }
  }

  function sendMessage() {
    var msg = $("#msg").val();

    if (msg == "") {
      return;
    }
    var URL = "/im/groupChat";
    var formData = {
      "type": "1",
      "fromUserName": imUser.userName,
      "fromNick": imUser.nick,
      "msg": msg,
      "sendTime": new Date()
    };
    $.post(URL, formData, function (jsonData) {
      if (!jsonData.flag) {
        alert("发送失败，请与管理员联系！");
      }
    }, "json");
  }

  function loadMoreChatMessage() {
    var pn = parseInt($("#pn").val()) + 1;
    $("#pn").val(pn);

    listChatMessage();
  }

  function listChatMessage() {
    var URL = "/im/listChatMessage";
    var formData = {
      "type": "1",
      "pn": $("#pn").val(),
      "pageSize": $("#pageSize").val()
    };

    $.post(URL, formData, function (chatMessageList) {
      if (chatMessageList.length == 0) {
        $(".load").hide();
        $(".unload").show();
      }

      var bottom = $("#content")[0].scrollHeight - $("#content").scrollTop();
      for (var i = 0; i < chatMessageList.length; i++) {
        var clazz = "";
        var chatMessage = chatMessageList[i];
        if (chatMessage.fromUserName == imUser.userName) {
          clazz = "myself";
        }
        var html = "";
        html += "<div class='" + clazz + "'>";
        html += " <div class='title'>"
        html += chatMessage.fromNick + "&nbsp;" + new Date(chatMessage.sendTime).format("yyyy-MM-dd HH:mm:ss");
        html += " </div>";
        html += " <div class='item'>" + replaceEm(chatMessage.msg) + "</div>";
        html += "</div>";

        $("#content").prepend(html);
      }

      if ($("#pn").val() == 0) {
        $("#content").scrollTop(999999);
      } else {
        $("#content").scrollTop($("#content")[0].scrollHeight - bottom);
      }
    }, "json");
  }

  function showResponse(chatMessage) {
    if (!(chatMessage.msg != null && chatMessage != "")) {
      return;
    }
    var clazz = "";
    if (chatMessage.fromUserName == imUser.userName) {
      clazz = "myself";
    }
    var html = "";
    html += "<div class='" + clazz + "'>";
    html += " <div class='title'>"
    html += chatMessage.fromNick + "&nbsp;" + new Date(chatMessage.sendTime).format("yyyy-MM-dd HH:mm:ss");
    html += " </div>";
    html += " <div class='item'>" + replaceEm(chatMessage.msg) + "</div>";
    html += "</div>";

    $("#msg").val("");
    $("#content").append(html);
    $("#content").scrollTop(9999999999);
  }

  function replaceEm(str) {
    str = str.replace(/\</g, '&lt;');
    str = str.replace(/\>/g, '&gt;');
    str = str.replace(/\n/g, '<br/>');
    str = str.replace(/\[em_([0-9]*)\]/g, '<img src="/arclist/$1.gif" border="0" />');
    return str;
  }


  /*]]>*/
</script>
<script th:inline="javascript">
  /*<![CDATA[*/
  window.onkeyup = function (ev) {
    var key = ev.keyCode || ev.which;
    if (key == 13) { //按下Escape
      sendMessage();
    }
  }
  Date.prototype.format = function (format) {
    var o = {
      "M+": this.getMonth() + 1, //month
      "d+": this.getDate(), //day
      "H+": this.getHours(), //hour
      "m+": this.getMinutes(), //minute
      "s+": this.getSeconds(), //second
      "q+": Math.floor((this.getMonth() + 3) / 3), //quarter
      "S": this.getMilliseconds() //millisecond
    }

    if (/(y+)/.test(format)) {
      format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    }

    for (var k in o) {
      if (new RegExp("(" + k + ")").test(format)) {
        format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
      }
    }
    return format;
  }
  /*]]>*/
</script>
</body>
</html>