<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
  <title>登录</title>
</head>
<body style="display: none">
<form action="/authentication/form" method="post" id="list_form">
  <table>
    <tr>
      <td>用户名:</td>
      <td><input type="text" name="username" th:value="${userName}" /></td>
    </tr>
    <tr>
      <td>密码:</td>
      <td><input type="password" name="password" value="123456"/></td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="submit">登录</button>
      </td>
    </tr>
  </table>
</form>
<script th:src="@{/jquery.js}"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  $("#list_form").submit();
  /*]]>*/
</script>
</body>
</html>